name: backend ci

on:
  push:
    branches:
      - main
    paths:
      - backend/**

jobs:
  build-and-push:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: ghcr.io/eeritvan/calendar-backend:latest
          cache-from: type=registry,ref=ghcr.io/eeritvan/calendar-backend:buildcache
          cache-to: type=registry,ref=ghcr.io/eeritvan/calendar-backend:buildcache,mode=max
