name: backend ci

on:
  push:
    branches:
      - main
    paths:
      - backend/**

env:
  GO_VERSION: 1.25.6
  ALPINE_VERSION: 3.23

jobs:
  test:
    defaults:
      run:
        working-directory: backend
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.6
          cache-dependency-path: backend/go.sum
      - name: run tests
        run: go test ./tests

  build-and-push:
    needs: [test]
    runs-on: ubuntu-24.04
    env:
      IMAGE_NAME: ghcr.io/eeritvan/calendar-backend
      TAILSCALE_TAG: tag:calendar-cicd
    steps:
      - uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          platforms: linux/amd64
          tags: ${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            GO_VERSION=${{ env.GO_VERSION }}
            ALPINE_VERSION=${{ env.ALPINE_VERSION }}
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: ${{ env.TAILSCALE_TAG }}
      - name: Push webhook
        run: curl -sS --fail -X POST "${{ secrets.WEBHOOK_URL }}"
